Body {margin: 0;
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	font-size: 12px;
	color: #333333;
}
/* Main Styles */
p {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	font-size: 12px;
	color: #333333;
}
h1 {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	font-size: 14px;
	color: #333333;
}
td {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	font-size: 12px;
	color: #333333;
}
B	{
	font-weight: Bold; font-size:12px; color: #333333;
}
.FooterStyle {
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	font-family: Lucida Grande, Arial, Helvetica, sans serif;
}
.TitleStyle  { color: #ffffff; font-size: 24px; font-family: "Lucida Grande", Arial, Helvetica, "sans serif"; font-style: oblique; font-weight: bold }
/* Link Styles */
a:link {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #6385aa;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #6385aa;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #6385aa;
	font-weight: bold;
	text-decoration: underline;
}
a:active {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #6385aa;
	font-weight: bold;
	text-decoration: underline;
}
.contentstyle1 { font-size: 12px; font-family: Helvetica } 
#white {
	color: #FFFFFF;
}
