.outsideBorder {
	border: 1px solid #333333;
}
p {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}
code {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}
li {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

body {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #FFFFFF url(../images1/skinny-header.gif) repeat-x;
}

b {
	color: #f5a90c;
}

a:link {
	color: #478324;
}

a:visited {
	color: #478324;
}
h3 {
	font: bold 14px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	margin-top: 0px;
	padding-top: 0px;
}
