.outsideBorder {
	border: 1px solid #333333;
}
p {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
}

body {
	font: 12px "Century Gothic", Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	background: #FFFFFF;
}

b {
	color: #f5a90c;
}

a:link {
	color: #478324;
}

a:visited {
	color: #478324;
}
