p {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #CC6600;
}
a:link {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #009900;
}
a:visited {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	color: #009900;
}
h1 {
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.small {
	font: 9px Verdana, Arial, Helvetica, sans-serif;
}
