
/*
-----------------------------------------------
Edited Blogger Template Style
Name:     565
Designer: Douglas Bowman
URL:      www.stopdesign.com
Date:     28 Feb 2004
----------------------------------------------- */


body {
  background:#333333;
  margin:0;
  padding:10px 0 14px;
  font:x-small Verdana,Sans-serif;
  text-align:center;
  color:#333;
  font-size/* */:/**/small;
  font-size: /**/small;
  }


/* Page Structure
----------------------------------------------- */
#wrap {
  position:relative;
  top:4px;
  left:4px;
  background:#2F2F2F;
  width:770px;
  margin:0 auto;
  text-align:left;
  }
#wrap2 {
  position:relative;
  top:-4px;
  left:-4px;
  background:#fff;
  padding:10px;
  }
#content {
  background:url("http://www.itwister.net/blogger/images/bg_content.gif") repeat-y left top;
  width:100%;
  font-size:85%;
  }
#main {
  background:#e5e5e5 url("http://www.itwister.net/blogger/images/corner_main.gif") no-repeat right top;
  width:470px;
  float:left;
  color:#333;
  }
#main2 {
  margin:0;
  padding:10px 10px;
  }
#sidebar {
  background:#407296 url("http://www.itwister.net/blogger/images/corner_sidebar.gif") no-repeat left top;
  width:254px;
  float:right;
  padding:0;
  color:#cdb;
  }
#sidebar2 {
  margin:0;
  padding:2px 20px 10px;
  }


/* Links
----------------------------------------------- */
a:link {
  color:#268fdd;
  text-decoration:none;
  }
a:visited {
  color:#776;
  text-decoration:none;
  }
a:hover {
  color:#333;
  text-decoration:underline;
  }
a img {
  border-width:0;
  }
#sidebar a:link {
  color:#fff;
  }
#sidebar a:visited {
  color:#ab9;
  }
#sidebar a:hover {
  color:#fff;
  }


/* Header
----------------------------------------------- */
#header {
  background:#ffffff url("http://www.itwister.net/blogger/images/topleft.jpg") no-repeat left bottom;
  padding:0 0 0 160px;
  margin:0 0 10px;
  color:#fff;
  width:100%;
  width/* */:/**/auto;
  width:auto;
  }
#blog-title {
  background:url("http://www.itwister.net/blogger/images/bg_header.gif") no-repeat left top;
  margin:0;
  padding:40px 0 0;
  font:bold 275%/97px Helvetica,Arial,Verdana,Sans-serif;
  text-transform:lowercase;
  }
#blog-title a {
  color:#fff;
  text-decoration:none;
  }
.postpage #blog-title {
  padding-top:0;
  background-position:0 -40px;
  }


/* Description
----------------------------------------------- */
#description {
  background:#FFFFFF url("http://www.itwister.net/blogger/images/bg_desc_top.gif") no-repeat left top;
  margin:0 0 10px;
  padding:12px 0 0;
  color:#0072C8;
  }
#description p {
  background:url("http://www.itwister.net/blogger/images/bg_desc_bot.gif") no-repeat left bottom;
  margin:0;
  padding:0 0 12px;
  }
#description em {
  /* To remove the word next to the desription, delete the following background property */
  background:url("http://www.itwister.net/blogger/images/temp_no.gif") no-repeat left center;
  /* Keep everything below */
  display:block;
  padding:0 0 0 160px;
  font:bold 75%/1.6em Arial,Verdana,Sans-serif;
  text-transform:uppercase;
  letter-spacing:.1em;
  min-height:12px;
  }
.postpage #description em {
  font-size:1px;
  line-height:1px;
  color:#8df;
  visibility:hidden;
  }


/* Posts
----------------------------------------------- */
.date-header {
  margin:0 0 .5em;
  font:bold 112%/1.4em Arial,Verdana,Sans-serif;
  text-transform:lowercase;
  color:#0072C8;
  }
.post {
  margin:0 0 2em;
  }
.post-title {
  margin:0 0 .25em;
  font:bold 150%/1.4em Helvetica,Arial,Verdana,Sans-serif;
  color:#268fdd;
  }
#main .post-title a {
  text-decoration:none;
  color:#268fdd;
  }
#main .post-title a:hover {
  color:#333;
  }
.post p, .post-body {
  margin:0 0 .75em;
  line-height:1.6em;
  }
.post-footer {
  color:#666666;
  text-transform:lowercase;
  }
.post-footer em {
  font-style:normal;
  color:#666666;
  }
.post blockquote {
  margin:1em 20px;
  padding:5px 0;
  border:2px solid #dec;
  border-width:2px 0;
  }
.post blockquote p {
  margin:.5em 0;
  }
.post img {
  border:5px solid #e5e5e5;
  }


/* Comments
----------------------------------------------- */
#comments {
  margin:2em 0 0;
  border-top:2px solid #dec;
  padding-top:1em;
  }
#comments h4 {
  margin:0 0 .25em;
  font:bold 150%/1.4em Helvetica,Arial,Verdana,Sans-serif;
  text-transform:lowercase;
  color:#268fdd;
  }
#comments-block {
  margin:0;
  line-height:1.6em;
  }
.comment-poster {
  margin:0 0 .25em;
  font:bold 112%/1.4em Arial,Verdana,Sans-serif;
  text-transform:lowercase;
  }
.comment-body, .comment-body p {
  margin:0 0 .75em;
  }
p.comment-timestamp {
  margin:-.25em 0 2em;
  }
.deleted-comment {
  font-style:italic;
  color:gray;
  }


/* Sidebar
----------------------------------------------- */
.sidebar-title {
  margin:1em 0 .25em;
  font:bold 150%/1.4em Helvetica,Arial,Verdana,Sans-serif;
  color:#268fdd;
  text-transform:lowercase;
  }
#sidebar ul {
  margin:0 0 1.5em;
  padding:0;
  list-style:none;
  }
#sidebar li {
  margin:0;
  padding:0 0 .25em 20px;
  text-indent:-20px;
  line-height:1.4em;
  }
#sidebar p {
  margin:0 0 .75em;
  line-height:1.4em;
  }


/* Profile
----------------------------------------------- */
#profile-container {
  margin:0 0 1.75em;
  }
.profile-datablock, .profile-textblock {
  margin:0 0 .75em;
  line-height:1.4em;
  }
.profile-img {
  display:inline;
  }
.profile-img img {
  float:left;
  margin:0 10px 5px 0;
  border:5px solid #786;
  }
.profile-data {
  font-weight:bold;
  color:#fff;
  }
.profile-data strong {
  display:none;
  }


/* Footer
----------------------------------------------- */
#footer {
  clear:both;
  padding:10px 0 0;
  }
#footer hr {
  display:none;
  }
#footer p {
  margin:0;
  padding:5px 0;
  }


/* Misc
----------------------------------------------- */
.clear {
  clear:both;
  display:block;
  height:1px;
  margin:0;
  padding:0;
  font-size:1px;
  line-height:1px;
  }
.gAD {
	margin-left: -10px;
	}