p {
	font: 13px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

body {
	font: 13px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

td {
	font: 13px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

h1 {
	font: bold 13px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
}

h3 {
	font: bolder 14px 'Lucida Grande', LucidaGrande, Lucida, Helvetica, Arial, sans-serif;
	color: #0099CC;
}