Body {margin: 0;}

	
/* Main Styles */

p {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	font-size: 12px;
	color: #333333;
}


B	{
	font-weight: Bold; font-size:12px; color: #333333;
}


.FooterStyle {
	font-size: 11px;
	color: #666666;
	font-family: Lucida Grande, Arial, Helvetica, sans serif;
}

.TitleStyle  { color: #ffffff; font-size: 14px; font-family: "Lucida Grande", Arial, Helvetica, "sans serif"; font-weight: bold }





/* Link Styles */

a:link {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
a:visited {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #333333;
	font-weight: bold;
	text-decoration: underline;
}
a:hover {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}
a:active {
	font-family: "Lucida Grande", "Arial", "Helvetica" ,"Swiss" ,"SunSans-Regular";
	color: #333333;
	font-weight: bold;
	text-decoration: none;
}

